		body,
		html {
			background: #f9f9f9;
			font-family: "Open Sans", sans-serif;
			font-weight: 300;
		}
		
		.header {
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			padding: 15px;
			background:linear-gradient(to bottom, #337AB7 0%, #265A88 100%);
			background-color: #337AB7;
		}
		
		.header img {
			margin: 20px auto;
			padding: 20px 0;
			text-align: center;
		}
		
		
		.header ul {
			list-style: none;
		}
		
		.header li {
			display: inline;
			margin-right: 30px;
		}
		
		.main {
			margin: 40px 0;
		}
		
		.email {
			background: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			font-size: 18px;
			margin: 0 0 8px;
			padding: 20px 0;
		}
		
		.email:hover {
			background: #fcfcfc;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
		
		.email span {
			color: #000;
			display: inline-block;
			margin: 0;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;
		}
		
		a.back {
			background: #ffbd1a;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			color: #fff;
			display: block;
			font-weight: bold;
			margin: 0 0 20px;
			padding: 14px 0;
			text-align: center;
			width: 200px;
		}
		
		a.back:hover {
			background: #f7a500;
			text-decoration: none;
		}
		
		.from {
			font-size: 16px;
			font-weight: 700;
			padding-left: 2%;
			width: 20%;
		}
		
		.subject {
			width: 65%;
		}
		
		.date {
			font-size: 14px;
			padding-right: 2%;
			text-align: right;
			text-overflow: ellipsis;
			width: 15%;
		}
		
		.email-view {
			background: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			padding: 50px;
		}
		
		.email-view h2 {
			font-size: 40px;
			padding: 0;
			margin: 0 0 10px;
		}
		
		.email-view .from {
			display: inline-block;
			padding: 0;
			width: 50%;
		}
		
		.email-view .date {
			display: inline-block;
			padding: 0;
			text-align: right;
			width: 50%;
		}
		
		.email-view p {
			font-size: 24px;
			margin: 30px 0 0;
		}
		
		.footer {
			background: #000;
			padding: 60px 0;
		}
		
		.footer h3 {
			color: #fff;
			font-size: 18px;
			font-weight: 300;
		}
		
		.footer ul {
			color: #0393ff;
			list-style: none;
			padding-left: 0px;
		}
		
		.progress {
			height: 30px;
		}
		.progress span {
			font-size: 13px;			
		}
		
		.timeline-right .progress-bar{
			text-align: left;
			padding-left: 10px;
			padding-top: 3px;
		}
		
		.progress-bar abbr {border: none;}
		
		.timeline-panel .progress-bar{
			padding-left: 10px;
			text-align: left;
		}
		
		h1, h2, h3, h4, h5, h6 {
			font-family: 'Sura', serif;
		}
		.label-osteo {
  			background-color: #F5F5F5;
			color: #ADADAD;
		}
		.label-osteo[href]:hover,
		.label-osteo[href]:focus {
  			background-color: #ffff77;
		}
		.myStats {
			color: white;
			font-family: 'Sura', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			text-align: center;
		}
		.myStats strong {
			font-weight: bold;
			font-size: 130%;
		}
		.myStats a.editable-click {
			color: white;
			font-size: 130%;
			border-bottom:1px solid #ADADAD;
		}
		.myStats a.editable-click:hover {
			color: white;
			font-weight: bold;
			cursor: text;
			font-size: 130%;
			border-bottom:1px dashed #ADADAD;
		}
		.myStats input[type=text] {
			width: 50px;
		}
		h5.h5-circle{
			width: 60px;
			height: 60px;
			padding: 10px 12px;
			font-size: 24px;
  			line-height: 50%;
  			border-radius: 35px;
  			background: white;
  			color: #265A88
	}
	h5.h5-circle span{
			font-size: 10px;
  			color: #265A88;
			 line-height: 20%;
	}
	
.compare-label {
  text-align: center;
}

.compare-stat {
	margin-bottom: 15px;	
}

.stat .badge {
	font-weight: normal;
}

.stat-success {
	font-weight: bold;
	color: #3c763d;
}

.stat-danger {
	font-weight: bold;
	color: #a94442;
}

.compare-label .badge {
	font-weight: normal;
}

.stat i {
	font-size: 80%;
}

.badge-success {
	color: #449d44;
	background: #eee;
}

.badge-danger {
	color: #d9534f;
	background: #eee;
}

.med-score td .compare-label {
	background: none;
	color: black;
	font-family: 'Sura', 'Open Sans', sans-serif;
	font-size: 120%;
}

.med-score td {
	font-size: 120%;
	font-weight: bold;
	font-family: 'Sura', 'Open Sans', sans-serif;
}

td.home-school-numbers {
	width: 80px;	
}