<div ng-repeat="(key, value) in schools | groupBy: 'gsx$_cokwr.$t'"  ng-hide="key==='State'">
  <h2>{{ key }}</h2>
  <div class="container">
    <table class="table table-hover " style="background: white; ">
      <tr ng-repeat="xschool in value">
        <td>
          <a href="#/school/{{ schools.indexOf(xschool) }} ">
            <span ng-show="myMet()-xschool.gsx$academindex.$t-dataStats.sd>=0"><span class="label label-success">High Chance</span></span>
            <span ng-show="myMet()-xschool.gsx$academindex.$t>=0 && myMet()-xschool.gsx$academindex.$t-dataStats.sd<0"><span class="label label-info">Good Chance</span></span>
            <span ng-show="myMet()-xschool.gsx$academindex.$t+dataStats.sd < 0"><span class="label label-danger">No Chance</span></span>
            <span ng-show="myMet() < xschool.gsx$academindex.$t && myMet()-xschool.gsx$academindex.$t+dataStats.sd > 0"><span class="label label-warning">Low Chance</span></span>
       
            <span class="from ">{{ xschool.gsx$fullname.$t }}</span>
            <span class="label label-osteo " style="font-weight: normal " ng-show="xschool.gsx$type.$t==='O' ">Osteo</span>
       
          </a>
        </td>
        <td class="home-school-numbers ">
          <compare-stat-label me="{{myStats.cgpa}} " to="{{xschool.gsx$_cyevm.$t}} " min="0 " max="4 " display="cGPA
  " full="Cumulative (Overall) GPA "></compare-stat-label>
        </td>
        <td class="home-school-numbers ">
          <compare-stat-label me="{{myMcat()}} " to="{{xschool.gsx$_ckd7g.$t}} " min="0 " max="4 " display="MCAT
  " full="Medical College Adimssion Test "></compare-stat-label>
        </td>
        <td class="home-school-numbers ">
          <compare-stat-label me="{{myMet()}} " to="{{xschool.gsx$academindex.$t | number:0}}" min="200" max="800" display="AcademIndex
  " full="Academic Index: out of 800"></compare-stat-label>
        </td>
        <td class="home-school-numbers" style="width: 160px">
          <show-rank ng-show="{{xschool.gsx$usnewsresearchranking.$t}} " rank="{{xschool.gsx$usnewsresearchranking.$t}}
  " max="88 " full="Research Rank " display="Research Rank"></show-rank>
          <show-rank ng-show="{{xschool.gsx$usnewsprimarycareranking.$t}} " rank="{{xschool.gsx$usnewsprimarycareranking.$t}}
  " max="85 " full="Primary Care Rank " display="Primary Care Rank"></show-rank>
        </td>
      </tr>
    </table>
  </div>
</div>